[user]
	name = Ajitem Sahasrabuddhe
	email = ajitem.sahasrabuddhe@perennialsys.com
	signingkey = CF7AE17DEF9358FB21B093785B0EE10DAA76876C
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = vim
	whitespace = fix, -indent-with-non-tab, trailing-space, cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gitflow "prefix"]
	feature = feature-
	release = release-
	hotfix = hotfix-
	support = support-
	versiontag = v
[credential "https://github.com"]
	username = asahasrabuddhe
[credential "https://github.com"]
	helper = personal
[credential "https://bitbucket.org"]
	username = ajitem_s
[credential "https://bitbucket.org"]
	helper = office
